/* CSS Document Home_2_Page */
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Comic+Relief:wght@400;700&display=swap');

body {
    background-image: url("cat.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
:root{
    --font_comic: "Comic Relief", system-ui;
}
.btn_registrar {
    display: flex;
    justify-content: top;
    align-items: top;
    width: 50%;
    height: 50px; ;
}
.btn_click{
    font-family: var(--font_comic);
    background-color: rgb( 255, 239, 255, 0.7);
    width: 180px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    border: none;
    font-size: 25px;
    color: #452864;
    text-decoration: none;
}
.btn_click:hover{
    background-color: rgb( 255, 239, 255);
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffefff;
    transition: 0.3s;
}
.texto{
    font-family: var(--font_comic);
    color: #ffefff;
    font-size: 20px;
    top: 20px;
    overflow: break-word;
    text-align: center;
    text-shadow: 0px 0px 5px #ffefff;
}
.oi{
    color: #ffefff;
}
